- name: Install i3 package
  community.general.pacman:
    name: i3-wm
    state: latest
  become: true

- name: Install wm utils
  community.general.pacman:
    name:
      - autocutsel
      - brightnessctl
      - maim
      - feh
      - geoclue2
      - i3lock
      - redshift
      - unclutter
      - xbindkeys
      - xorg-xinit
      - xorg-xinput
      - xorg-xset
      - xorg-xrdb
      - xorg-setxkbmap
      - xss-lock
      - xorg-xsetroot
      - xdg-utils
      - xorg-server
      - xsel
      - xclip
    state: latest
  become: true

- name: Create config dirs
  ansible.builtin.file:
    path: "{{ item }}"
    state: directory
    mode: "0755"
  loop:
    - ~/.config/dunst
    - ~/.config/rofi
    - ~/.config/i3
    - ~/.config/i3status-rs

- name: Copy i3 config file
  ansible.builtin.copy:
    src: config/i3/config
    dest: ~/.config/i3/config
    mode: "0644"

# Xinit
- name: Copy xinitrc
  ansible.builtin.copy:
    src: xinit/xinitrc
    dest: ~/.xinitrc
    mode: "0644"

# Status bar
- name: Install i3status-rs
  community.general.pacman:
    name: i3status-rust
    state: latest
  become: true

- name: Copy i3status-rs config file
  ansible.builtin.copy:
    src: config/i3status-rs/config.toml
    dest: ~/.config/i3status-rs/config.toml
    mode: "0644"

# Dunst
- name: Install dunst
  community.general.pacman:
    name: dunst
    state: latest
  become: true

- name: Copy dunst config file
  ansible.builtin.copy:
    src: config/dunst/config
    dest: ~/.config/dunst/config
    mode: "0644"

# Rofi
- name: Install rofi
  community.general.pacman:
    name: rofi
    state: latest
  become: true

- name: Copy rofi config file
  ansible.builtin.copy:
    src: config/rofi/config.rasi
    dest: ~/.config/rofi/config.rasi
    mode: "0644"

- name: Reload i3 config
  ansible.builtin.shell: |
    pgrep -x i3 && i3-msg reload || echo "i3 not running"
  changed_when: true

# Autorandr
- name: Copy autorandr config
  ansible.builtin.copy:
    src: config/autorandr
    dest: ~/.config/
    mode: "0644"

- name: Add X permission for postswitch
  ansible.builtin.file:
    path: "{{ item }}"
    mode: "0755"
  loop:
    - ~/.config/autorandr/home/postswitch
    - ~/.config/autorandr/mobile/postswitch
    - ~/.config/autorandr/office/postswitch
